In [37]:
""" 
@author: zym

"""
import numpy as np  
import pandas as pd
from sklearn.cluster import KMeans

In [56]:
def Kmeans_detect(data,k):
    
    data1 = list(data.value)
    data1 = np.array(data1)
    data1 = data1.reshape(-1,1)
    
    kmeans = KMeans(n_clusters=k, random_state=8).fit(data1)
    
    data["label"]=kmeans.labels_
    
    p = list(set(kmeans.labels_))
    print("簇的数目: "+str(k)+"\n")
    
#     clusters = []
    
    for i in range(k):
        print("簇 ", p[i],":")
        one_cluster = data[data.label == i]
        print(one_cluster)
        print("共"+str(len(one_cluster))+"个点")
        print("\n")
#         clusters.append(one_cluster)

In [57]:
# cpu
data = pd.read_csv("data/ec2_cpu_utilization_24ae8d.csv")
Kmeans_detect(data,6)

簇的数目: 6

簇  0 :
                timestamp  value  label
8     2014-02-14 15:10:00  0.066      0
11    2014-02-14 15:25:00  0.066      0
14    2014-02-14 15:40:00  0.068      0
23    2014-02-14 16:25:00  0.066      0
26    2014-02-14 16:40:00  0.066      0
...                   ...    ...    ...
4003  2014-02-28 12:05:00  0.066      0
4006  2014-02-28 12:20:00  0.066      0
4010  2014-02-28 12:40:00  0.068      0
4016  2014-02-28 13:10:00  0.066      0
4019  2014-02-28 13:25:00  0.066      0

[909 rows x 3 columns]
共909个点


簇  1 :
                timestamp  value  label
151   2014-02-15 03:05:00  1.466      1
439   2014-02-16 03:05:00  1.534      1
729   2014-02-17 03:15:00  1.398      1
1018  2014-02-18 03:20:00  1.534      1
1309  2014-02-19 03:35:00  1.444      1
1597  2014-02-20 03:35:00  1.598      1
1883  2014-02-21 03:25:00  1.600      1
2172  2014-02-22 03:30:00  1.468      1
2461  2014-02-23 03:35:00  1.444      1
2748  2014-02-24 03:30:00  1.466      1
3032  2014-02-25 03:10:00  1.490      1
3321  2014-02-26 03:15:00  1.534      1
3614  2014-02-27 03:40:00  1.532      1
3898  2014-02-28 03:20:00  1.600      1
共14个点


簇  2 :
                timestamp  value  label
0     2014-02-14 14:30:00  0.132      2
1     2014-02-14 14:35:00  0.134      2
2     2014-02-14 14:40:00  0.134      2
3     2014-02-14 14:45:00  0.134      2
4     2014-02-14 14:50:00  0.134      2
...                   ...    ...    ...
4027  2014-02-28 14:05:00  0.132      2
4028  2014-02-28 14:10:00  0.134      2
4029  2014-02-28 14:15:00  0.134      2
4030  2014-02-28 14:20:00  0.134      2
4031  2014-02-28 14:25:00  0.134      2

[2964 rows x 3 columns]
共2964个点


簇  3 :
                timestamp  value  label
13    2014-02-14 15:35:00  0.202      3
41    2014-02-14 17:55:00  0.202      3
61    2014-02-14 19:35:00  0.200      3
70    2014-02-14 20:20:00  0.200      3
113   2014-02-14 23:55:00  0.200      3
...                   ...    ...    ...
3778  2014-02-27 17:20:00  0.332      3
3875  2014-02-28 01:25:00  0.200      3
3969  2014-02-28 09:15:00  0.200      3
3977  2014-02-28 09:55:00  0.202      3
3997  2014-02-28 11:35:00  0.202      3

[143 rows x 3 columns]
共143个点


簇  4 :
                timestamp  value  label
3547  2014-02-26 22:05:00  2.344      4
共1个点


簇  5 :
                timestamp  value  label
3777  2014-02-27 17:15:00  0.602      5
共1个点

In [58]:
# cpc
data = pd.read_csv("data/exchange-4_cpc_results.csv")
Kmeans_detect(data,6)

簇的数目: 6

簇  0 :
                timestamp     value  label
1     2011-07-01 01:15:01  0.074414      0
2     2011-07-01 02:15:01  0.056984      0
3     2011-07-01 03:15:01  0.071225      0
4     2011-07-01 04:15:01  0.045466      0
5     2011-07-01 05:15:01  0.050627      0
...                   ...       ...    ...
1638  2011-09-07 10:15:01  0.054275      0
1639  2011-09-07 11:15:01  0.070650      0
1640  2011-09-07 12:15:01  0.056339      0
1641  2011-09-07 13:15:01  0.050782      0
1642  2011-09-07 14:15:01  0.056232      0

[1009 rows x 3 columns]
共1009个点


簇  1 :
                timestamp     value  label
1276  2011-08-23 08:15:01  3.126852      1
共1个点


簇  2 :
                timestamp     value  label
372   2011-07-16 14:15:01  1.597419      2
514   2011-07-22 12:15:01  1.408696      2
518   2011-07-22 16:15:01  1.415511      2
1565  2011-09-04 09:15:01  1.350460      2
共4个点


簇  3 :
                timestamp     value  label
0     2011-07-01 00:15:01  0.091795      3
12    2011-07-01 12:15:01  0.096017      3
13    2011-07-01 13:15:01  0.084700      3
17    2011-07-01 17:15:01  0.084351      3
36    2011-07-02 12:15:01  0.090992      3
...                   ...       ...    ...
1619  2011-09-06 15:15:01  0.108174      3
1620  2011-09-06 16:15:01  0.123920      3
1621  2011-09-06 17:15:01  0.106817      3
1622  2011-09-06 18:15:01  0.095533      3
1623  2011-09-06 19:15:01  0.090364      3

[619 rows x 3 columns]
共619个点


簇  4 :
                timestamp     value  label
787   2011-08-02 23:15:01  0.311372      4
1229  2011-08-21 09:15:01  0.368622      4
1293  2011-08-24 01:15:01  0.694608      4
1375  2011-08-27 11:15:01  0.733247      4
1422  2011-08-29 10:15:01  0.549480      4
1481  2011-08-31 21:15:01  0.506081      4
1482  2011-08-31 22:15:01  0.347319      4
1504  2011-09-01 20:15:01  0.315721      4
共8个点


簇  5 :
                timestamp     value  label
367   2011-07-16 09:15:01  1.937843      5
1401  2011-08-28 13:15:01  2.116176      5
共2个点

In [60]:
# occupancy
data = pd.read_csv("data/occupancy_t4013.csv")
Kmeans_detect(data,10)

簇的数目: 10

簇  0 :
                timestamp  value  label
65    2015-09-01 18:25:00   4.89      0
71    2015-09-01 19:25:00   5.33      0
72    2015-09-01 19:35:00   6.11      0
75    2015-09-01 20:15:00   5.83      0
77    2015-09-01 20:40:00   5.94      0
...                   ...    ...    ...
2452  2015-09-17 12:35:00   5.56      0
2456  2015-09-17 12:55:00   4.33      0
2466  2015-09-17 13:45:00   5.22      0
2487  2015-09-17 15:28:00   5.67      0
2493  2015-09-17 15:54:00   4.39      0

[411 rows x 3 columns]
共411个点


簇  1 :
                timestamp  value  label
3     2015-09-01 11:55:00  15.28      1
24    2015-09-01 14:05:00  14.94      1
35    2015-09-01 15:25:00  14.89      1
39    2015-09-01 15:45:00  14.94      1
49    2015-09-01 16:45:00  14.89      1
...                   ...    ...    ...
2404  2015-09-17 08:30:00  17.06      1
2423  2015-09-17 10:10:00  15.50      1
2462  2015-09-17 13:25:00  16.94      1
2470  2015-09-17 14:05:00  15.33      1
2474  2015-09-17 14:25:00  14.94      1

[70 rows x 3 columns]
共70个点


簇  2 :
                timestamp  value  label
1     2015-09-01 11:35:00   8.33      2
6     2015-09-01 12:10:00   8.11      2
9     2015-09-01 12:25:00   9.61      2
17    2015-09-01 13:15:00   8.50      2
23    2015-09-01 14:00:00   9.56      2
...                   ...    ...    ...
2484  2015-09-17 15:13:00   9.33      2
2485  2015-09-17 15:18:00   8.28      2
2494  2015-09-17 15:59:00   8.72      2
2498  2015-09-17 16:19:00   9.39      2
2499  2015-09-17 16:24:00   8.06      2

[380 rows x 3 columns]
共380个点


簇  3 :
                timestamp  value  label
88    2015-09-01 21:59:00   1.44      3
90    2015-09-01 22:20:00   1.06      3
94    2015-09-01 22:50:00   1.83      3
99    2015-09-01 23:45:00   0.67      3
100   2015-09-02 00:05:00   0.61      3
...                   ...    ...    ...
2355  2015-09-17 04:25:00   1.39      3
2358  2015-09-17 04:40:00   2.33      3
2359  2015-09-17 04:45:00   0.00      3
2365  2015-09-17 05:15:00   2.33      3
2481  2015-09-17 14:58:00   0.61      3

[310 rows x 3 columns]
共310个点


簇  4 :
                timestamp  value  label
2147  2015-09-16 07:59:00  32.17      4
2149  2015-09-16 08:09:00  38.83      4
2151  2015-09-16 08:19:00  38.28      4
2152  2015-09-16 08:24:00  33.50      4
2397  2015-09-17 07:55:00  43.06      4
2398  2015-09-17 08:00:00  36.33      4
共6个点


簇  5 :
                timestamp  value  label
2     2015-09-01 11:40:00  11.78      5
4     2015-09-01 12:00:00  10.06      5
7     2015-09-01 12:15:00  10.72      5
8     2015-09-01 12:20:00  11.83      5
10    2015-09-01 12:30:00  10.22      5
...                   ...    ...    ...
2480  2015-09-17 14:54:00  10.00      5
2482  2015-09-17 15:04:00  10.50      5
2486  2015-09-17 15:23:00  10.78      5
2495  2015-09-17 16:04:00   9.94      5
2497  2015-09-17 16:14:00  10.00      5

[315 rows x 3 columns]
共315个点


簇  6 :
                timestamp  value  label
15    2015-09-01 13:05:00   2.61      6
73    2015-09-01 19:50:00   4.06      6
78    2015-09-01 20:50:00   3.39      6
85    2015-09-01 21:25:00   2.44      6
86    2015-09-01 21:30:00   4.00      6
...                   ...    ...    ...
2419  2015-09-17 09:50:00   4.00      6
2446  2015-09-17 12:05:00   3.78      6
2449  2015-09-17 12:20:00   4.11      6
2467  2015-09-17 13:50:00   2.56      6
2469  2015-09-17 14:00:00   3.78      6

[369 rows x 3 columns]
共369个点


簇  7 :
                timestamp  value  label
0     2015-09-01 11:30:00  13.56      7
13    2015-09-01 12:50:00  13.72      7
19    2015-09-01 13:25:00  13.78      7
28    2015-09-01 14:35:00  12.89      7
38    2015-09-01 15:40:00  12.28      7
...                   ...    ...    ...
2458  2015-09-17 13:05:00  12.44      7
2471  2015-09-17 14:10:00  13.17      7
2475  2015-09-17 14:30:00  13.22      7
2476  2015-09-17 14:34:00  12.11      7
2496  2015-09-17 16:09:00  12.72      7

[206 rows x 3 columns]
共206个点


簇  8 :
                timestamp  value  label
5     2015-09-01 12:05:00   7.44      8
14    2015-09-01 12:55:00   7.39      8
16    2015-09-01 13:10:00   7.33      8
20    2015-09-01 13:35:00   7.78      8
21    2015-09-01 13:45:00   7.72      8
...                   ...    ...    ...
2488  2015-09-17 15:34:00   7.17      8
2489  2015-09-17 15:38:00   7.17      8
2490  2015-09-17 15:43:00   7.33      8
2491  2015-09-17 15:48:00   7.11      8
2492  2015-09-17 15:49:00   6.28      8

[415 rows x 3 columns]
共415个点


簇  9 :
                timestamp  value  label
25    2015-09-01 14:10:00  25.89      9
33    2015-09-01 15:05:00  24.72      9
53    2015-09-01 17:15:00  21.33      9
54    2015-09-01 17:20:00  21.61      9
136   2015-09-02 06:45:00  21.72      9
140   2015-09-02 07:05:00  25.61      9
141   2015-09-02 07:10:00  25.78      9
157   2015-09-02 08:30:00  21.22      9
166   2015-09-02 09:15:00  21.56      9
1688  2015-09-14 08:08:00  20.72      9
2148  2015-09-16 08:04:00  26.00      9
2153  2015-09-16 08:29:00  22.50      9
2154  2015-09-16 08:34:00  27.17      9
2155  2015-09-16 08:39:00  29.94      9
2156  2015-09-16 08:44:00  27.83      9
2400  2015-09-17 08:10:00  26.61      9
2401  2015-09-17 08:15:00  22.11      9
2403  2015-09-17 08:25:00  20.56      9
共18个点

In [70]:
# travel
data = pd.read_csv("data/TravelTime_387.csv")
Kmeans_detect(data,5)

簇的数目: 5

簇  0 :
                timestamp  value  label
25    2015-07-10 19:32:00     99      0
26    2015-07-10 19:42:00     85      0
27    2015-07-10 20:02:00     85      0
28    2015-07-10 20:12:00     87      0
29    2015-07-10 20:22:00     93      0
...                   ...    ...    ...
2493  2015-09-17 16:14:00    245      0
2496  2015-09-17 16:44:00    285      0
2497  2015-09-17 16:50:00    271      0
2498  2015-09-17 17:00:00    308      0
2499  2015-09-17 17:10:00    305      0

[1736 rows x 3 columns]
共1736个点


簇  1 :
                timestamp  value  label
1     2015-07-10 14:38:00    730      1
2     2015-07-10 14:48:00    770      1
3     2015-07-10 15:03:00    910      1
4     2015-07-10 15:22:00   1035      1
5     2015-07-10 15:32:00   1065      1
...                   ...    ...    ...
1724  2015-09-03 16:46:00   1307      1
1729  2015-09-03 17:36:00   1449      1
1730  2015-09-03 17:46:00   1319      1
1731  2015-09-03 17:48:00   1197      1
2038  2015-09-10 22:53:00    731      1

[187 rows x 3 columns]
共187个点


簇  2 :
                timestamp  value  label
0     2015-07-10 14:24:00    564      2
20    2015-07-10 18:12:00    624      2
21    2015-07-10 18:22:00    632      2
22    2015-07-10 18:32:00    596      2
23    2015-07-10 18:42:00    510      2
...                   ...    ...    ...
2434  2015-09-17 00:41:00    521      2
2435  2015-09-17 00:51:00    527      2
2436  2015-09-17 00:57:00    609      2
2494  2015-09-17 16:24:00    396      2
2495  2015-09-17 16:34:00    385      2

[531 rows x 3 columns]
共531个点


簇  3 :
                timestamp  value  label
989   2015-08-18 16:26:00   5059      3
2039  2015-09-10 23:13:00   4630      3
2040  2015-09-10 23:18:00   4562      3
2041  2015-09-11 00:13:00   4891      3
2042  2015-09-11 00:25:00   4813      3
2132  2015-09-12 02:42:00   3799      3
2133  2015-09-12 02:53:00   3853      3
共7个点


簇  4 :
                timestamp  value  label
269   2015-07-23 03:55:00   2858      4
270   2015-07-23 04:15:00   2781      4
271   2015-07-23 04:24:00   2891      4
333   2015-07-25 05:39:00   2941      4
334   2015-07-25 05:59:00   2848      4
335   2015-07-25 06:03:00   2924      4
428   2015-07-30 12:29:00   2003      4
1539  2015-09-01 08:06:00   1621      4
1540  2015-09-01 08:16:00   1680      4
1541  2015-09-01 08:26:00   1551      4
1542  2015-09-01 08:36:00   1787      4
1543  2015-09-01 08:46:00   2325      4
1544  2015-09-01 09:06:00   2014      4
1545  2015-09-01 09:16:00   1853      4
1546  2015-09-01 09:26:00   1920      4
1547  2015-09-01 09:36:00   1993      4
1548  2015-09-01 09:46:00   1841      4
1549  2015-09-01 09:56:00   1861      4
1550  2015-09-01 10:06:00   1901      4
1551  2015-09-01 10:16:00   1863      4
1552  2015-09-01 10:26:00   2134      4
1553  2015-09-01 10:36:00   1974      4
1554  2015-09-01 10:46:00   1868      4
1555  2015-09-01 10:56:00   1775      4
1603  2015-09-01 21:22:00   2268      4
1604  2015-09-01 21:32:00   2190      4
1682  2015-09-03 08:57:00   1602      4
1683  2015-09-03 09:07:00   1637      4
1684  2015-09-03 09:17:00   1672      4
1725  2015-09-03 16:56:00   1822      4
1726  2015-09-03 17:06:00   1761      4
1727  2015-09-03 17:16:00   1720      4
1728  2015-09-03 17:27:00   1893      4
2128  2015-09-12 01:42:00   2769      4
2129  2015-09-12 01:52:00   2697      4
2130  2015-09-12 02:12:00   2833      4
2131  2015-09-12 02:20:00   2730      4
2304  2015-09-15 11:06:00   1612      4
2305  2015-09-15 11:16:00   1738      4
共39个点

In [72]:
# twitter
data = pd.read_csv("data/Twitter_volume_AMZN.csv")
Kmeans_detect(data,7)

簇的数目: 7

簇  0 :
                 timestamp  value  label
3      2015-02-26 21:57:53     64      0
7      2015-02-26 22:17:53     87      0
9      2015-02-26 22:27:53     68      0
10     2015-02-26 22:32:53     64      0
11     2015-02-26 22:37:53     61      0
...                    ...    ...    ...
15813  2015-04-22 19:27:53     68      0
15814  2015-04-22 19:32:53     61      0
15815  2015-04-22 19:37:53     61      0
15824  2015-04-22 20:22:53     76      0
15825  2015-04-22 20:27:53     66      0

[3986 rows x 3 columns]
共3986个点


簇  1 :
                 timestamp  value  label
720    2015-03-01 09:42:53    247      1
1384   2015-03-03 17:02:53    175      1
1385   2015-03-03 17:07:53    242      1
1386   2015-03-03 17:12:53    194      1
1387   2015-03-03 17:17:53    214      1
...                    ...    ...    ...
12060  2015-04-09 18:42:53    191      1
12061  2015-04-09 18:47:53    281      1
12417  2015-04-11 00:27:53    242      1
13445  2015-04-14 14:07:53    275      1
15489  2015-04-21 16:27:53    257      1

[65 rows x 3 columns]
共65个点


簇  2 :
                 timestamp  value  label
23     2015-02-26 23:37:53     36      2
26     2015-02-26 23:52:53     35      2
28     2015-02-27 00:02:53     39      2
30     2015-02-27 00:12:53     31      2
31     2015-02-27 00:17:53     35      2
...                    ...    ...    ...
15701  2015-04-22 10:07:53     27      2
15704  2015-04-22 10:22:53     35      2
15706  2015-04-22 10:32:53     30      2
15725  2015-04-22 12:07:53     35      2
15821  2015-04-22 20:07:53     38      2

[4954 rows x 3 columns]
共4954个点


簇  3 :
                timestamp  value  label
3735  2015-03-11 20:57:53   1673      3
共1个点


簇  4 :
                 timestamp  value  label
0      2015-02-26 21:42:53     57      4
1      2015-02-26 21:47:53     43      4
2      2015-02-26 21:52:53     55      4
8      2015-02-26 22:22:53     57      4
16     2015-02-26 23:02:53     49      4
...                    ...    ...    ...
15826  2015-04-22 20:32:53     51      4
15827  2015-04-22 20:37:53     54      4
15828  2015-04-22 20:42:53     46      4
15829  2015-04-22 20:47:53     56      4
15830  2015-04-22 20:52:53     50      4

[5849 rows x 3 columns]
共5849个点


簇  5 :
                 timestamp  value  label
4      2015-02-26 22:02:53     93      5
5      2015-02-26 22:07:53    104      5
6      2015-02-26 22:12:53     89      5
53     2015-02-27 02:07:53     90      5
60     2015-02-27 02:42:53    102      5
...                    ...    ...    ...
15800  2015-04-22 18:22:53     89      5
15803  2015-04-22 18:37:53    115      5
15804  2015-04-22 18:42:53     91      5
15809  2015-04-22 19:07:53     91      5
15823  2015-04-22 20:17:53     91      5

[971 rows x 3 columns]
共971个点


簇  6 :
                 timestamp  value  label
1993   2015-03-05 19:47:53    716      6
2008   2015-03-05 21:02:53    939      6
2009   2015-03-05 21:07:53    507      6
11070  2015-04-06 08:12:53    486      6
11071  2015-04-06 08:17:53    605      6
共5个点