In [1]:
""" 
@author: zym

"""
import numpy as np
import pandas as pd
from pyod.models.mcd import MCD

In [22]:
def MCD_detect(data,abnormal_num):
    
    data1 = list(data.value)
    data1 = np.array(data1)
    data1 = data1.reshape(-1,1)
    
    c=abnormal_num/len(data1)
    
    # 训练 MCD 检测器
    clf_name = 'MCD'
    clf = MCD(assume_centered=True,random_state=17,contamination=c)
    clf.fit(data1)
    
    # 获得训练集的预测标签和异常分数
    y_train_pred = clf.labels_  # (0为正常 1为异常)
    y_train_scores = clf.decision_scores_
    
    abnormal_loc=[]
    abnormal_loc.clear()
    for i in range(len(y_train_pred)):
        if(y_train_pred[i]==1):
            abnormal_loc.append(i)
    
    
    print(data.timestamp[abnormal_loc])  
    print("\n")

In [23]:
# cpu
data = pd.read_csv("data/ec2_cpu_utilization_24ae8d.csv")
MCD_detect(data,2)
MCD_detect(data,16)

3547    2014-02-26 22:05:00
Name: timestamp, dtype: object


151     2014-02-15 03:05:00
439     2014-02-16 03:05:00
729     2014-02-17 03:15:00
1018    2014-02-18 03:20:00
1309    2014-02-19 03:35:00
1597    2014-02-20 03:35:00
1883    2014-02-21 03:25:00
2172    2014-02-22 03:30:00
2461    2014-02-23 03:35:00
2748    2014-02-24 03:30:00
3032    2014-02-25 03:10:00
3321    2014-02-26 03:15:00
3547    2014-02-26 22:05:00
3614    2014-02-27 03:40:00
3777    2014-02-27 17:15:00
3898    2014-02-28 03:20:00
Name: timestamp, dtype: object

In [35]:
# cpc
data = pd.read_csv("data/exchange-4_cpc_results.csv")
MCD_detect(data,3)
MCD_detect(data,20)

367     2011-07-16 09:15:01
1276    2011-08-23 08:15:01
1401    2011-08-28 13:15:01
Name: timestamp, dtype: object


367     2011-07-16 09:15:01
372     2011-07-16 14:15:01
514     2011-07-22 12:15:01
518     2011-07-22 16:15:01
776     2011-08-02 12:15:01
787     2011-08-02 23:15:01
826     2011-08-04 14:15:01
1229    2011-08-21 09:15:01
1276    2011-08-23 08:15:01
1293    2011-08-24 01:15:01
1371    2011-08-27 07:15:01
1375    2011-08-27 11:15:01
1401    2011-08-28 13:15:01
1422    2011-08-29 10:15:01
1444    2011-08-30 08:15:01
1480    2011-08-31 20:15:01
1481    2011-08-31 21:15:01
1482    2011-08-31 22:15:01
1504    2011-09-01 20:15:01
1565    2011-09-04 09:15:01
Name: timestamp, dtype: object

In [37]:
# occupancy
data = pd.read_csv("data/occupancy_t4013.csv")
MCD_detect(data,2)

2149    2015-09-16 08:09:00
2397    2015-09-17 07:55:00
Name: timestamp, dtype: object

In [44]:
# travel
data = pd.read_csv("data/TravelTime_387.csv")
MCD_detect(data,2)
MCD_detect(data,20)

989     2015-08-18 16:26:00
2041    2015-09-11 00:13:00
Name: timestamp, dtype: object


269     2015-07-23 03:55:00
270     2015-07-23 04:15:00
271     2015-07-23 04:24:00
333     2015-07-25 05:39:00
334     2015-07-25 05:59:00
335     2015-07-25 06:03:00
989     2015-08-18 16:26:00
1543    2015-09-01 08:46:00
1603    2015-09-01 21:22:00
1604    2015-09-01 21:32:00
2039    2015-09-10 23:13:00
2040    2015-09-10 23:18:00
2041    2015-09-11 00:13:00
2042    2015-09-11 00:25:00
2128    2015-09-12 01:42:00
2129    2015-09-12 01:52:00
2130    2015-09-12 02:12:00
2131    2015-09-12 02:20:00
2132    2015-09-12 02:42:00
2133    2015-09-12 02:53:00
Name: timestamp, dtype: object

In [57]:
# twitter
data = pd.read_csv("data/Twitter_volume_AMZN.csv")
MCD_detect(data,3)
MCD_detect(data,18)
MCD_detect(data,35)

1993    2015-03-05 19:47:53
2008    2015-03-05 21:02:53
3735    2015-03-11 20:57:53
Name: timestamp, dtype: object


1993     2015-03-05 19:47:53
2008     2015-03-05 21:02:53
2009     2015-03-05 21:07:53
3158     2015-03-09 20:52:53
3159     2015-03-09 20:57:53
3160     2015-03-09 21:02:53
3735     2015-03-11 20:57:53
3736     2015-03-11 21:02:53
6367     2015-03-21 00:17:53
6657     2015-03-22 00:27:53
7527     2015-03-25 00:57:53
8021     2015-03-26 18:07:53
9753     2015-04-01 18:27:53
9795     2015-04-01 21:57:53
11070    2015-04-06 08:12:53
11071    2015-04-06 08:17:53
11546    2015-04-07 23:52:53
11885    2015-04-09 04:07:53
Name: timestamp, dtype: object


720      2015-03-01 09:42:53
1385     2015-03-03 17:07:53
1388     2015-03-03 17:22:53
1725     2015-03-04 21:27:53
1976     2015-03-05 18:22:53
1993     2015-03-05 19:47:53
2008     2015-03-05 21:02:53
2009     2015-03-05 21:07:53
3158     2015-03-09 20:52:53
3159     2015-03-09 20:57:53
3160     2015-03-09 21:02:53
3735     2015-03-11 20:57:53
3736     2015-03-11 21:02:53
6367     2015-03-21 00:17:53
6657     2015-03-22 00:27:53
7527     2015-03-25 00:57:53
8021     2015-03-26 18:07:53
9184     2015-03-30 19:02:53
9753     2015-04-01 18:27:53
9795     2015-04-01 21:57:53
10874    2015-04-05 15:52:53
10875    2015-04-05 15:57:53
11070    2015-04-06 08:12:53
11071    2015-04-06 08:17:53
11546    2015-04-07 23:52:53
11547    2015-04-07 23:57:53
11591    2015-04-08 03:37:53
11595    2015-04-08 03:57:53
11700    2015-04-08 12:42:53
11841    2015-04-09 00:27:53
11885    2015-04-09 04:07:53
12061    2015-04-09 18:47:53
12417    2015-04-11 00:27:53
13445    2015-04-14 14:07:53
15489    2015-04-21 16:27:53
Name: timestamp, dtype: object